page-myprofil {
  #menulogo {
    background-image:url(../assets/imgs/headerbck.png);
    text-align: center;
    padding: 10px 0 30px 0;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 165px;
    padding-bottom: 10px;
  }


}
