page-mydashboard {

  p {
    text-align: center;
  }
  ion-card-header {
    background-color: #818181;
  }

  ion-card {

    ion-card-header {
      padding: 5px !important;

        button {
          background-color: transparent !important;
          border: none !important;
          box-shadow: none !important;
        }
    }

    .gaugebtn {
      background: url(../assets/imgs/charts.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 20px;
      background-position-x: right;
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      float: left;
    }

    .header {
      float: left;
      margin-left: 20px;
      color: #fff;


    }

    .lotcode {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .infoslot {
      font-size: 1rem;
    }

    .infoscomp {
      font-size: 1rem;

      .dateentree {
        float: left;
      }
      .age {
        float: right;
        margin-left: 20px;
      }
    }

    .nombrerestants1 {
      font-size: 1rem;
      float: left;
    }

    .nombrerestants2 {
      font-size: 1rem;

      .males{
        float: left;
      }
      .femelles{
        float: right;
        margin-left: 20px;
      }
    }

    .gagesubtitle {
      margin: 0;
      padding: 0;
      font-size: 0.7em;
      font-weight: 700;
      color: #999;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .bationfab {
    position: relative;

    ion-fab {
      top:0;
      right: -10px;
    }
  }

  .abattus {
    position: absolute;
    /*height: 100%;
    width: 100%;*/
    color: #f50000;
    transform: rotate(-33deg);
    text-align: center;
    margin: 0 auto;
    left: 60%;
    top: 17px;
    font-size: 1.4em;
  }
 /* .toolbar-background {
    background: linear-gradient(90deg, #f19300 0%, #f3c7a1 100%);
  }*/

  @media screen and (min-width: 640px) {
    ion-list {
      display: block;
      width: 50%;
      float: left;

    }
  }

  @media screen and (min-width: 980px) {
    ion-list {
      display: block;
      width: 30%;
      float: left;
    }
  }

  @media print {
    ion-list {
      display: block;
      width: 50%;
      float: left;

    }
  }
}



.gauge {
  display: block;
  float: left;

  margin: 0 0 1% 0;
}

.size-1 {
  width: 100%;
}

.jg-title {
  text-align: center;
}
